<a href="https://colab.research.google.com/github/fhwrnstd/KW/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!sudo apt-get update

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:3 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [83.3 kB]
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease [1,581 B]
Get:9 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,990 kB]
Hit:10 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,546 kB]
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,323 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,422 kB]
Get:17 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [913 kB]
Get:19 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [48.3 kB]
Fetched 11.5 MB in 2s (5,534 kB/s)
Reading package lists... Done

In [2]:
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp37-cp37m-manylinux1_x86_64.whl (25.4 MB)
     |████████████████████████████████| 25.4 MB 1.4 MB/s
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf<=3.20.1,>=3.11.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30

<img src="https://learnsql.com/blog/sql-basics-cheat-sheet/sql-basics-cheat-sheet-a4-page-1.png" alt="Alternative text" />

# Übersicht der Tabellen

<img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/Sql_hospital.png" alt="Alternative text" />

In [4]:
import mysql.connector

config = {
  'user': 'creep75_7_w',
  'password': 'pfNe3p8xvru8efUOCnYe',
  'host': 'db156.pair.com',
  'database': 'creep75_fhwnstd',
  'raise_on_warnings': False
}

In [6]:
import pandas as pd

In [9]:
cnx = mysql.connector.connect(**config)
df = pd.read_sql_query("select * FROM Physician", con=cnx)
cnx.close()
df

   EmployeeID               Name                      Position        SSN
0           1        John Dorian               Staff Internist  111111111
1           2        Elliot Reid           Attending Physician  222222222
2           3   Christopher Turk  Surgical Attending Physician  333333333
3           4       Percival Cox    Senior Attending Physician  444444444
4           5          Bob Kelso        Head Chief of Medicine  555555555
5           6       Todd Quinlan  Surgical Attending Physician  666666666
6           7           John Wen  Surgical Attending Physician  777777777
7           8  Keith Dudemeister                   MD Resident  888888888
8           9        Molly Clock        Attending Psychiatrist  999999999

In [10]:
cnx = mysql.connector.connect(**config)

df = pd.read_sql_query("select Patient.Name as Patient, \
                        Physician.Name as Physician,\
                        Appointment.Starto, \
                        Appointment.Endo \
                        FROM Patient INNER JOIN Appointment \
                        ON Patient.SSN = Appointment.Patient \
                        INNER JOIN Physician \
                        ON Appointment.Physician = Physician.EmployeeID; ", con=cnx)
cnx.close()
df

             Patient         Physician              Starto                Endo
0         John Smith       John Dorian 2008-04-24 10:00:00 2008-04-24 11:00:00
1      Grace Ritchie       Elliot Reid 2008-04-24 10:00:00 2008-04-24 11:00:00
2         John Smith       John Dorian 2008-04-25 10:00:00 2008-04-25 11:00:00
3         Dennis Doe      Percival Cox 2008-04-25 10:00:00 2008-04-25 11:00:00
4         Dennis Doe      Percival Cox 2008-04-26 10:00:00 2008-04-26 11:00:00
5  Random J. Patient       Elliot Reid 2008-04-26 11:00:00 2008-04-26 12:00:00
6         John Smith  Christopher Turk 2008-04-26 12:00:00 2008-04-26 13:00:00
7         Dennis Doe       Molly Clock 2008-04-27 10:00:00 2008-04-21 11:00:00
8      Grace Ritchie       Elliot Reid 2008-04-27 10:00:00 2008-04-27 11:00:00